.pin{
height:900px;
width: 600px;
margin: auto;
margin-top:30px;
border: 8px solid #fbc800;
background-color: #fbc800;
}

.pinimg{
height:600px;
background-color: blue;
width: 600px;
}

.pinimg1{
height:600px;
width: 600px;
}

.desctxt{
margin:auto;
font-size:50px;
font-family:fantasy;
color:white;
margin: 0; 
position: absolute; 
top: 50%; 
-ms-transform: translateY(-50%); 
transform: translateY(-50%);
text-align: center; 
left: 10%; 
right: 10%;
border-width: 5px;
border-style: solid;
}

.desc{
height:260px;
background-color: #ffc800;
width: 600px;
position: relative;
}

.copyrighttxt{
font-size:18px;
font-family:fantasy;
color: #858ca5;
}

.copyright{
height:40px;
background-color: #ffc800;
width: 600px;
text-align: center
}

