.pin{
height:900px;
width: 600px;
margin: auto;
margin-top:30px;
}

.pinimg{
height:600px;
background-color: blue;
width: 600px;
}

.post-thumbnail{
height:600px;
width: 600px;
}

.desctxt{
margin:auto;
font-size:50px;
font-family:fantasy;
color:white;
margin: 0; 
position: absolute; 
top: 50%; 
-ms-transform: translateY(-50%); 
transform: translateY(-50%);
text-align: center; 
left: 10%; 
right: 10%;
}

.desc{
height:260px;
background-color: red;
width: 600px;
position: relative;
}

.copyrighttxt{
font-size:20px;
font-family:fantasy;
color:white;
}

.copyright{
height:40px;
background-color: red;
width: 600px;
text-align: center
}

