.pin{
height: 900px;
width: 600px;
padding : 10px;
margin-top: 30px;
background-color: red;
}

.pinimg{
height: 580px;
width: 580px;
background-color: red;
}

.pinimg1{
height:580px;
width: 580px;
}

.desctxt{
font-weight: bold;
font-size: 40px;
font-family: 'Acme', sans-serif;
color: white;
z-index: 9999;
margin: 0;
position: absolute;
top: 10%;
left: 10%;
transform: translate(0%, 50%);
}

.desc{
height: 200px;
width: 580px;
position: relative;
}

.copyrighttxt{
font-size:18px;
font-family:fantasy;
color: #fff;
}

.copyright{
height:50px;
background-color: red;
width: 580px;
text-align: center
}
