.pin{
  height:1500px;
  width: 735px;
  margin: auto;
  margin-top:30px;
  border: 5px solid red;
  background-color: red;
  position:relative;
}

.pinimg{
  height:700px;
  width: 725px;
  background-color: red;
}

.pinimg1{
  height:700px;
  width: 725px;
}

.desctxt{
    font-weight: bold;
    font-size: 40px;
    font-family: 'Acme', sans-serif;
    color: white;
    margin: 0;
    text-align: center;
    /* left: 5%;
    right: 5%;
    border-width: 5px;
    border-style: solid; */
    background: red;
    z-index: 9999;
}

.desc{
    background-color: red;
    width: 725px;
    position: relative;
    position: absolute;
    top: 45%;
    padding-top:20px;
    padding-bottom:20px;
}

.copyrighttxt{
  font-size:18px;
  font-family:fantasy;
  color: #fff;
}

.copyright{
    bottom: 0px;
    background-color: red;
    width: 725px;
    text-align: center;
    position: absolute;
}
